<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dailydeal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AddDealActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgrB9MAFYPkVWD3tNWkqcQu6E8RWdKtPE" />

        <provider
            android:name="com.android.dailydeal.data.DealContentProvider"
            android:authorities="com.android.dailydeal"
            android:exported="false" />

        <receiver
            android:name=".widgets.AddDealWidgetProvider"
            android:label="@string/label_add_new_deal">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.dailydeal.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_add_deal" />
        </receiver>

        <service
            android:name=".widgets.DealWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>